@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Homemade+Apple&family=Open+Sans&display=swap');

* {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", serif;
    font-weight: 400;
    font-style: normal;
}

.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  

.App {
    max-width: 800px;
    margin: 0 auto;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto 70px;
        position: relative;
        
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.8em;
        margin-top: 125px;
        position: absolute;
        margin-left: -180px;
    }

    p {
        font-size: 2em;
    }

    nav {
        max-width: 600px;
        margin: 0 auto;

        ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        li {
            margin-bottom: 25px;
            @extend .homemade-apple-regular;
            font-size: 1.5em;
            list-style-type: none;
        }
    }

    .skills {
        margin: 150px 0px;
        ul {
            list-style-type: none;
            display: flex;

            li {
                @extend .open-sans;
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 15px;
                }

            }
        }
    }

    .contact {
        margin: 150px 0px;
    }




}